---
---

// Breakpoints
$large-breakpoint: 120em !default;
$medium-breakpoint: 100em !default;


@import "{{ site.theme }}";

.main-content {
    max-width: 120rem;
}

.page-header {
    padding: 1rem 1rem;
}

.page-footer {
    visibility: hidden;
}

.btn {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}