---
---

// Breakpoints
$large-breakpoint: 120em !default;
$medium-breakpoint: 100em !default;


@import "{{ site.theme }}";

.main-content {
    max-width: 120rem;
}

.page-header {
    padding: 0.2rem 0.2rem;
}

.site-footer {
    visibility: hidden;
}

.btn2 {
    color: rgba(0,0,0,0.9);
    background-color: rgba(0,0,0,0.08);
    border-color: rgba(0,0,0,0.5);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}