---
---

// Breakpoints
$large-breakpoint: 120em !default;
$medium-breakpoint: 100em !default;


@import "{{ site.theme }}";

.main-content {
    max-width: 120rem;
}

.page-header {
    padding: 1rem 1rem;
}

.site-footer {
    visibility: hidden;
}

.btn2 {
    background-image: linear-gradient(120deg, #278284, #278680);
}